.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-announce {
  width: 270px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(to bottom, var(--color-1, #ff6060) 60%, #040404 167%);
}

.card-cover {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 8px;
  width: 90%;
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
