.banner-title {
  position: absolute;
  left: 0%;
  top: 15%;
  z-index: 100;
  width: 60%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: left;
}

.cards-list {
  display: flex;
  width: 90%;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 18px auto 50px auto;
}

@media (min-width: 768px) {
  .banner-title {
    font-size: 35px;
    width: 100%;
    top: 28%;
    text-align: center;

    -webkit-text-stroke: 1px black;
  }
}
