.not-found {
  color: #ff6060;
}

.code-error {
  margin: 50px 20px;
  width: 190px;
  height: 90px;
}

h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 20px;
}

.return-home {
  margin: 40px 10px 0px 10px;
}

.return-home a {
  font-size: 14px;
  text-decoration: underline;
  color: #000;
}

.return-home a:hover,
.return-home a:focus,
.return-home a:active {
  text-decoration: underline;
  color: #000;
}

@media (width >= 768px) {
  .code-error {
    width: 450px;
    height: 300px;
  }

  h1 {
    font-size: 32px;
    margin: 0px 20px;
  }

  .return-home {
    margin: 70px 10px 0px 10px;
  }

  .return-home a {
    font-size: 20px;
  }
}
