.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ff6060;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

.announces {
  display: flex;
  justify-content: center;
}

.announces-title {
  text-align: center;
  margin-bottom: 20px;
}

.announce-card {
  background: #fff;
  width: 300px;
  overflow: hidden;
  padding: 12px 20px;
}

.announce-card-link {
  text-decoration: none;
}

.announce-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.announce-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  text-align: left;
}

.announce-location {
  text-align: left;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

.announce-description {
  margin-bottom: 10px;
}

.announce-host {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.announce-equipments,
.announce-tags {
  font-size: 0.9rem;
  color: #333;
  margin: 5px 0;
}
