.announces {
  display: flex;
  justify-content: center;
}

.announces-title {
  text-align: center;
  margin-bottom: 20px;
}

.announce-card {
  background: #fff;
  min-width: 280px;
  overflow: hidden;
  padding: 12px 20px;
}

.announce-dropdowns {
  min-width: 280px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0px;
}

.announce-card-link {
  text-decoration: none;
}

.announce-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.announce-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  text-align: left;
  margin: 5px 0;
}

.announce-location {
  text-align: left;
  font-size: 14px;
  color: #000;
  margin: 5px 0;
}

.equipments-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.equipments-list .announce-equipment {
  display: block;
  margin: 0;
  font-size: inherit;
}

.announce-rating-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 15px 5px;
}

.announce-host-information {
  display: flex;
  width: 120px;
  align-items: center;
  gap: 2px;
  color: #ff6060;
}

.announce-host-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.announce-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 5px 0;
}

@media (width >= 768px) {
  .announce-info-and-host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .announce-rating-host {
    width: 95%;
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .announce-dropdowns {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
}
