.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.logo-header {
  display: block;
  max-width: 130px;
  height: auto;
  margin: 18px;
}

@media (width >= 768px) {
  .header {
    width: 90%;
    text-decoration: none;
    margin: 0 auto 20px auto;
  }
}
