.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0px 5px 15px 5px;
}
.logo-header {
  display: flex;
  justify-content: flex-start;
  max-width: 130px;
  height: auto;
  margin: 18px;
}

@media (width >= 768px) {
  .header {
    margin: 20px auto 20px auto;
  }

  .logo-header {
    max-width: 120px;
  }
}
