.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.logo-header {
  display: flex;
  justify-content: flex-start;
  max-width: 130px;
  height: auto;
  margin: 18px;
}

@media (min-width: 768px) {
  .header {
    margin: 20px 60px;
  }
  .logo-header {
    max-width: 120px;
  }
}
