.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.a {
  margin: 0 10px;
  list-style: none;
  text-color: #000;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.a:selected {
  text-decoration: underline;
}
