.banner {
  position: relative;
  display: flex;
  width: 90%;
  height: 110px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.banner-light::after {
  background: rgba(0, 0, 0, 0.3);
}

.banner-dark::after {
  background: rgba(0, 0, 0, 0.6);
}

@media (width >= 768px) {
  .banner {
    height: 170px;
    border-radius: 20px;
  }
}
