.footer {
  padding: 20px;
  text-align: center;
  min-width: 320px;
  height: 200px;
  background-color: #000000;
}

.footer img {
  max-width: 120px;
  height: auto;
  margin: 10px;
}

.footer p {
  max-width: 120px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
  flex-wrap: wrap;
}
