.slideshow-wrapper {
  position: relative;
}

.previous-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
.previous-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.previous-arrow .dropdown-arrow,
.next-arrow .dropdown-arrow {
  width: 24px;
  height: 24px;
  display: block;
}
.previous-arrow {
  transform: rotate(-90deg);
}
.next-arrow {
  transform: rotate(90deg);
}
