:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  /* --color-1: #ff6060;
  --color-2: #ffffff; */
}

body {
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
